* {
    margin: 0;
    padding: 0;
}

.top {
    padding-bottom: 99px;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;

}

.header_logo {
    margin-left: 25px;
    margin-right: 37px;
}

.top_content {
    margin-top: 160px;
    margin-bottom: 190px;
}

.title {
    margin-bottom: 40px;

}

.top_button {
    margin-top: 50px;
}