* {
    margin: 0;
    padding: 0;
}

.top {
    padding-bottom: 99px;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;

}

.top_content {
    margin-top: 162.71px;
    margin-bottom: 162.45px;
}

.title {
    margin-bottom: 245px;

}

.top_button {
    margin-top: 50px;
}

.top_logos {
    padding-top: 97px;
    margin-bottom: 96px;
}